/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

/* line 7, ../../app/assets/stylesheets/scaffolds.css.scss */
.justify {
  float: none;
  margin: 0 auto;
  text-align: justify;
}

/* line 13, ../../app/assets/stylesheets/scaffolds.css.scss */
body {
  color: #000;
  font-family: 'Cabin', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* line 20, ../../app/assets/stylesheets/scaffolds.css.scss */
h1 {
  font-weight: 700;
}

/* line 24, ../../app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
  text-decoration: underline;
}

/* line 29, ../../app/assets/stylesheets/scaffolds.css.scss */
.highlight {
  font-style: italic;
  color: #BBB;
}

/* line 34, ../../app/assets/stylesheets/scaffolds.css.scss */
.bottom-large-spacer {
  padding-bottom: 60px;
}

/* line 38, ../../app/assets/stylesheets/scaffolds.css.scss */
.bottom-med-spacer {
  padding-bottom: 40px;
}

/* line 42, ../../app/assets/stylesheets/scaffolds.css.scss */
.bottom-small-spacer {
  padding-bottom: 20px;
}

/* line 46, ../../app/assets/stylesheets/scaffolds.css.scss */
.top-small-spacer {
  padding-top: 20px;
}

/* line 50, ../../app/assets/stylesheets/scaffolds.css.scss */
.top-med-spacer {
  padding-top: 40px;
}

/* line 54, ../../app/assets/stylesheets/scaffolds.css.scss */
.top-large-spacer {
  padding-top: 60px;
}

/* line 60, ../../app/assets/stylesheets/scaffolds.css.scss */
.ko-op {
  background-color: white;
}

/* line 64, ../../app/assets/stylesheets/scaffolds.css.scss */
.ko-op p {
  color: black;
}

/* line 68, ../../app/assets/stylesheets/scaffolds.css.scss */
.ko-op .right-col {
  text-align: right;
}

/* line 72, ../../app/assets/stylesheets/scaffolds.css.scss */
.red-rover {
  background-color: black;
  background-image: url("starbg.png");
}

/* line 77, ../../app/assets/stylesheets/scaffolds.css.scss */
.red-rover .logo {
  margin-top: 60px;
}

/* line 81, ../../app/assets/stylesheets/scaffolds.css.scss */
.red-rover .right-col {
  text-align: right;
}

/* line 86, ../../app/assets/stylesheets/scaffolds.css.scss */
.skipping-stones {
  background-color: #400080;
}

/* line 90, ../../app/assets/stylesheets/scaffolds.css.scss */
.skipping-stones .logo {
  margin-top: 113px;
}

/* line 94, ../../app/assets/stylesheets/scaffolds.css.scss */
.skipping-stones .right-col {
  text-align: right;
}

/* line 98, ../../app/assets/stylesheets/scaffolds.css.scss */
.project-container {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 103, ../../app/assets/stylesheets/scaffolds.css.scss */
#main {
  margin: 0 auto;
  float: none;
}

/* line 108, ../../app/assets/stylesheets/scaffolds.css.scss */
.hover {
  margin-top: -20px;
}

/* line 112, ../../app/assets/stylesheets/scaffolds.css.scss */
#stones {
  padding-top: 10px;
}

/* line 116, ../../app/assets/stylesheets/scaffolds.css.scss */
.links {
  font-size: 24px;
}
