body {
  color: #000;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

a {
  color: #000;
  text-decoration: underline;
}

em {
  font-size: 20px;
}

#big {
  font-size: 72px;
}


.highlight {
  font-style: italic;
  color: #BBB;
}

#main {
  margin: 0 auto;
  float: none;
}

.hover {
  margin-top: -20px;
}

#stones {
  padding-top: 10px;
}

.links {
  font-size: 24px;
}

.textfield {
  width: 170px;
  margin-right: 5px;
  margin-top: 10px;
}

.subscribe {
  background-color:#bdc3c7;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:5px;
  display:inline-block;
  color:#2c3e50;
  font-family:Lato;
  font-size:19px;
  font-weight:bold;
  padding:6px 30px;
  text-decoration:none;
}.subscribe:hover {
  background-color:#dfdfdf;
}.subscribe:active {
  position:relative;
  top:1px;
}


#response p {
  font-size: 14px;  
  color: #777;
}