body {
  color: #000;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #FFFFFF;
}


h1 {
  font-weight: normal;
  font-size: 40px;
}

h2 {
  font-weight: normal;
}

a {
  color: #d93554; 
  text-decoration: underline;
}

em {
  font-size: 18px;
}

#about h1{
  color: #d93554;
}

#big {
  font-size: 48px;
  color: #c7015e;
}

.contact a{
  color: #00557c;
}

.highlight {
  font-style: italic;
  color: #BBB;
}

#main {
  margin: 0 auto;
  float: none;
}

.hover {
  margin-top: -20px;
}

#stones {
  padding-top: 10px;
}

#small {
  font-size: 15px;
}

.links a {
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 2px 2px 16px gray;
}

.textfield {
  width: 120px;
  margin-right: 5px;
  margin-top: 10px;
}

.stroke {
  color: #black;
}

.subtitle {
  font-size: 10px;
}


.subscribe {
  background-color:#d6d3d6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:lato;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
}.subscribe:hover {
  background-color:#dfdfdf;
}.subscribe:active {
  position:relative;
  top:1px;
}



#response p {
  font-size: 14px;  
  color: #000000;

}
}